.box {
    display: flex;
    justify-content: center;
}


.flex {
    display: flex;
    align-self: center;
    flex-direction: column;
}

label {
    font-size: 1.8rem;
    margin-top: 1.2rem;
}

.btn {
    margin-top: 1.2rem;
}

.line {
    display: flex;
    gap: 2.4rem;
    justify-content: center;
    margin-top: 1.2rem;
}

.flex .line a {
    font-size: 2.1rem;
}