/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights


- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: 
#845ef7
- Tints:

#e5dbff
- Shades: 

- Accents:
#94d82d
-tints



#ff6b6b
-tints
#ff8787
#f03e3e


- Greys


--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  color: #333;
}

p {
  font-size: 1.6rem;
}

.header {
  font-size: 3.2rem;
  background-color:#845ef7 ;
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 4.8rem;
  margin-bottom: 2.4rem;
}

.header a:link,
.header a:visited {
  text-decoration: none;
  color: #333;
  align-self: center;
}

.tags {
  display: flex;
  gap: 2.8rem;
}

.header a:hover,
.header a:active {
  color: #f3f0ff;
}

.header h1 {
  font-size: 5.2rem;

}

body {
background-color: #f3f0ff;
}

.heading {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #f3f0ff;
  gap: 2.4rem;


}

.flexbox-vert {
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
}
.subheading {
  align-self: center;
}

.edit {
  grid-column: 1/-1;
  justify-self: center;
  text-decoration: none;
  border: none;
  color: inherit;
  font-size: 1.8rem;
  padding: 0.8rem;
  background-color: #845ef7;
  border-radius: 1rem;

}


.edit:link,
.edit:visited {
    grid-column: 1/-1;
    justify-self: center;
    text-decoration: none;
    border: none;
    color: inherit;
    font-size: 1.8rem;
    padding: 0.8rem;
    background-color: #845ef7;
    border-radius: 1rem;
}

.edit:hover,
.edit:active {
    background-color: #9775fa;
}
