{% extends 'base.html' %}
{%block css %}
<link
href="{{ url_for('static', filename='../static/general.css') }}"
rel="stylesheet"
/>
<link
href="{{ url_for('static', filename='../static/index.css') }}"
rel="stylesheet"
/>
{% endblock %}

{% block content %} 
  <h2 class="heading">All Tasks</h2>
  <div class="grid">
      
      <h3 class="subheading">
        {% if not tasks  %}
          No Tasks available
        </h3>
        {% else %}
        </h3>
            {% for task in tasks %}
            <div class="due_grid">
              <p class="due_task_t"> Task</p>
              <a class="due_task" href="{{url_for('task_view', task_id=task.id)}}">{{task.name|truncate(20, True)}}</a>
              <p class="due_task_h"> Due Date </p>
              <p class="due_task_h"> Priority </p>

              
              <p class="due_task_p"> {{task.due_date}} </p>
              <p class="due_task_p">{{task.priority}}</p>
            </div>
            {% endfor %}
        {% endif %}
        
    </div>

 
{% endblock %}