<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  href="{{ url_for('static', filename='../static/general.css') }}"
  rel="stylesheet"
/>

  {%block css %} {% endblock %}
  <title>{% block title %} {% endblock %}</title>


</head>
<body>
  <div class="header">
    <h1>Task Manager</h1>
    <div class="tags">

      <a href="{{url_for('create_task')}}">Create Task</a>
      <a href="{{url_for('all_tasks')}}">View All Tasks</a>
      <a href="{{url_for('home')}}">Home</a>
    </div>
  </div>
  
  {% block content %} {% endblock %}
</body>
</html>