{% extends 'base.html' %}

{% block header%} {% endblock %}


{%block css %}
<link
href="{{ url_for('static', filename='../static/general.css') }}"
rel="stylesheet"
/>

<link
href="{{ url_for('static', filename='../static/task_view.css') }}"
rel="stylesheet"
/>

{% endblock %}


{% block content %} 


<div class="card">
  <h2 class="heading">
    {{subsubtask.name}}
  </h2>
  <div class="card-top">
    {% if subsubtask.complete %}
    <p class="card-text">Status: Complete</p>
    {% else %}
    <p class="card-text">Status: Incomplete</p>
    {% endif %}
    <p class="card-text">Due Date: {{subsubtask.due_date}}</p>
    <p class="card-text">Priority: {{subsubtask.priority}}</p>
    </div>
  <div class="card-left">
    <p class="card-text description">Description: </p>
    <p class="description">{{subsubtask.description}}</p>
    </div>
  <div class="card-right">
      <p class="card-text notes">Notes: </p>
      <p class="notes">{{subsubtask.notes}}</p>
      </div>
      <div class="flex">

        <a class="edit center" href="{{url_for('subsubtask_complete', subsubtask_id=subsubtask.id)}}">Change Status</a>
        <a class="edit" href="{{url_for('edit_subsubtask', subsubtask_id=subsubtask.id)}}">Edit Task</a>
        <a class="edit center" href="{{url_for('subsubtask_delete', subsubtask_id=subsubtask.id)}}"> Delete</a>
        <a class="edit" href="{{url_for('subtask_view', subtask_id=subsubtask.subtask_id)}}">Return to Task</a>
      </div>
</div>





{% endblock %}

