{% extends 'base.html' %}

{% block header%} {% endblock %}


{% block content %} 

{{subtask.name}}{{subtask.description}}{{subtask.priority}}

{% for subsubtask in subsubtasks %}
  <p><a href="{{url_for('subsubtask_view', subsubtask_id=subsubtask.id)}}">{{subsubtask.name}}</a> {{subsubtask.priority}}</p>
{% endfor %}

<a href="{{url_for('create_subsubtask', subtask_id=subtask.id)}}">Add Subsubtask</a>

<a href="{{url_for('task_view', task_id=subtask.task_id)}}">Return to Task</a>

{% endblock %}
